body {
    background-color: rgb(127,100,125);
    padding:6rem;
    font-family: "Montserrat",sans-serif;
}
h1, p, h3 {
    color: white;
    text-align:center;
}
form {
    width: 100vw;
    max-width: 450px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
    padding-top: 2em;
    color: white;
}
.info {
    color: white;
    text-align: center;
}
button {
    display: block;
    width: 10%;
    margin: auto auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: rgb(255, 255, 255);
    border-bottom-color: #e5e7eb;
    min-width: 150px;
}
h4 {
 background: rgb(255, 255, 255);
    width: 30%;
    text-align: center;
    margin: 0 auto;
    height: 1.5em;
}
input[type="text"] {
    background-color: black;
    border-color: white;
    color: white;
}
fieldset {
    border: none;
}
.terms {
    font-size:13px;
}

